
<div>
    <h4>REGISTER</h4>
    <ul style="list-style:none; text-decoration:none;">
        <li> <p><a href="/Admin/Registration" >REGISTRATION</a></p></li>
        <li> <p><a href="/Admin/UserList">ADMIN LIST</a></p></li>
    </ul>
  
    <hr />

    <h4>PRODUCT</h4>
    <ul style="list-style:none; text-decoration:none;">
        <li><p><a href="/Products/Create">CREATE MENU</a></p></li>
        <li> <p><a href="Products/Edit">EDIT MENU</a></p> </li>
        <li> <p><a href="Products/Delete">DELETE MENU</a></p> </li>
        <li> <p><a href="#">VIEW ORDER</a></p> </li>
    </ul>
    <hr />

    <ul style="list-style:none; text-decoration:none;">
        <li><p><a href="/Categories/Create" >CREATE CATERGORY</a></p></li>
        <li><p><a href="/Categories/Index">VIEW CATERGORY</a></p></li>
    </ul>
</div>