@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table style="width :100%; border-collapse:collapse;background-color:navy" border="1">
        <tr>
            <td colspan="2">
                <h1 style="align-content:center;">ADMIN</h1>
            </td>
        </tr>
        <tr style="height:800px;">
            <td width="15%" style="background-color:khaki">
                @Html.Partial("_AdminLayout")
            </td>
            <td style=" background-color:aliceblue;">
                @RenderBody() 
            </td>

        </tr>

        <tr>
            <td colspan="2">
                <h3> <p style="align-content:center">&copy; @DateTime.Now.Year - JOHN AFOLABI DESIGNS</p> </h3>
            </td>
        </tr>

    </table>
</body>
</html>
