
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3 style="color:#001fd8; text-align:center;">MANAGEMENT</h3>

<br />
<div class="media">
    <img src="~/Content/img/C.E.O.jpg" class="align-self-center mr-3" style="width:300px">

    <div class="media-body">
        <h4 class="alert alert-primary">CHIEF EXECUTIVE OFFICER</h4>
        <br />
        <p> Mr. Afolabi John is a highly experienced QSR expert. He resumed at  Tasty Food Resturant on March 3, 2014, as the Deputy Managing Director. John has a BSc. in Finance from Southern Illinois University and an MBA, with specialization in Contract & International Management. He started his career at Merrill Lynch in 1983, was assigned to the Pepsi QSR acquisition team and joined Pizza Hut where he rose to become an Area Manager. He joined Burger King and led teams to complete market turnaround for 10 years. John then worked at Popeye’s Chicken as an Operator, acquiring 2 restaurants and developing 9 additional restaurants as a Franchise Operator. John also worked for Denny's as Franchise business leader for 5 years. He joined UAC Restaurants as GM Franchise & National Operations Manager in February 2011 and was part of the turnaround of the Brand. He was the Managing Director of Special Brand, the largest Operator of Mr. Bigg's Franchise Restaurants, from June 2013 to February 2014. </p>
    </div>
</div>


<br />

<div class="media">
    <img src="~/Content/img/Bakin-moon.jpg" class="align-self-center mr-3" style="width:300px">
    <div class="media-body">
        <h4 class="alert alert-primary">CHIEF FINANCE OFFICER</h4>
        <p> Mr. Oke is the head of the finance and accounting functions. He graduated from the University of Lagos, Akoka in Accounting in 1984, became an Associate of The Institute of Chartered Accountants of Nigeria (ACA) in 1989, and a Fellow of The Institute (FCA) in 2000. He obtained an MBA in 2001 from Ondo State University, Akungba. He joined National Electric Power Authority (NEPA) as Internal Auditor in 1986, Smithkline Beecham PLC (Now Glaxo Smithkline) as Senior Management Accountant in 1992. In 1994, he left Smithkline for Capital Services Ltd (a subsidiary of Negris Ltd) an Oil Services Company as Head of Finance. He was appointed as Divisional Accountant (Technical) of SGS Nig. Ltd – another Oil Services Company in 1998. In 2000, he moved to Nigerian Bottling Company PLC and held various positions including Finance Manager, Ilorin Plant, Jos, Ikeja, Agidingbi, Lagos and Head Office, Lagos. He joined Tasty Ltd as General Manager, Finance in 2006. He was appointed Executive Director, Finance in 2008 and Executive Director of enlarged Finance incorporating Information Technology in 2015. </p>
    </div>
</div>

<br />
<div class="media">
    <img src="~/Content/img/Legal.jpg" class="align-self-center mr-3" style="width:300px">
    <div class="media-body">
        <h4 class="alert alert-primary">COMPANY SECRETARY</h4>
        <p> Mrs. Dambo has the responsibility of ensuring compliance with Legal and Statutory regulations by the Company and its principal officers. As the Company Secretary / Legal Adviser, She also gives general support by way of legal advisory for all business units to ensure the attainment of companywide objectives. She acquired a degree in law (LL.B, Hons) from Ahmadu Bello University in 1986 and graduated from the Nigerian Law School in 1987. She acquired a Masters degree in International Law and Diplomacy from University of Lagos in 2005. She has over 20 years post-call experience cutting across Legal practice, Finance and Manufacturing sectors of the Nigerian Economy in companies like Nabisco Plc, Corporate Trust Limited and Dambo & Company (Nimibio Chambers). She was appointed Company Secretary / Legal Adviser to Tasty Plc in April, 2011 and Company Secretary / Head, Legal and Real State in 2015. </p>
    </div>
</div>

<br />
<div class="media">
    <img src="~/Content/img/profile 4.jpg" class="align-self-center mr-3" style="width:300px">
    <div class="media-body">
        <h4 class="alert alert-primary">General Manager, Marketing and Franchise</h4>
        <p> Mr. Arebun is responsible for strategy formulation and development of new business lines for Tasty. He graduated from Bendel State University (now Ambrose Alli University), Ekpoma in 1987, with B.Sc honours in Chemistry. In 1990 he had his M.Sc in Analytical Chemistry from University of Ibadan and Joined Jecon Lamps, Agbara as Laboratory Chemist same year. In 1991 he joined Guinness Nig. PLC as Management Trainee, Production. He was appointed Shift Brewer in the Ikeja Brewery of Guinness Nig PLC in 1992. In 1996 he joined Johnson Wax Nig. Ltd as Production Superintendent from where he moved to Xerox H. S. Nig. Ltd as Account Executive later that same year. In 1997, he was appointed Marketing Analyst, Paper, Consumables & Office Supplies with Xerox H. S. Nig. Ltd. With an MBA from University of Lagos in 1999, he was appointed Marketing Coordinator, Fax, Paper, Consumables & Office Supplies with Xerox H. S. Nig. Ltd. Between 2001 and 2004 he held various positions from Brand Manager, Tasty, Business Development Manager, First Bite, Business Development Manager, Tasty, Senior Brand Manager, Tantalizers, and Marketing Manager. He was promoted Assistant General Manager, Marketing, Tasty, in 2006, Deputy General Manager,</p>
    </div>
</div>


